/* ---------------- form validation class -------------*/
.has-success {
    color: #28a745;
}

.form-control-success {
    border-color: #28a745;
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 20px 20px;
}

.form-control-success:focus {
    border-color: #28a745;
    -webkit-box-shadow: 0px 0px 0px 1px #28a745;
    -moz-box-shadow: 0px 0px 0px 1px #28a745;
    box-shadow: 0px 0px 0px 1px #28a745;
}

.has-warning {
    color: #ffc107;
}

.form-control-warning {
    border-color: #ffc107;
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 20px 20px;
}

.form-control-warning:focus {
    border-color: #ffc107;
    -webkit-box-shadow: 0px 0px 0px 1px #ffc107;
    -moz-box-shadow: 0px 0px 0px 1px #ffc107;
    box-shadow: 0px 0px 0px 1px #ffc107;
}

.has-danger {
    color: #dc3545;
}

.form-control-danger {
    border-color: #dc3545;
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 14px 14px;
}

.form-control-danger:focus {
    border-color: #dc3545;
    -webkit-box-shadow: 0px 0px 0px 1px #dc3545;
    -moz-box-shadow: 0px 0px 0px 1px #dc3545;
    box-shadow: 0px 0px 0px 1px #dc3545;
}